{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'scripts.js' %}"></script>

{% block content %}
    <h1>Hey there</h1>
{% endblock content %}

