{% extends 'course/base.html' %}
{% block content %}
    <div class="container">
        <h1>Add A Course</h1>
        <form action="{% url 'course_list' %}" method="post">{% csrf_token %}
            <h3>Course Title: {{ form.course_title }}</h3>
            <h3>Course Description: {{ form.description }}</h3>
            <h3>Instructor: {{ form.instructor }}</h3>
            <h3>Course Duration: {{ form.course_duration }}</h3>
            <h3>Image: {{ form.art }}</h3>
            <input class=btn type="submit" value="Save Course">
        </form>
    </div>
{% endblock content %}

